# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Python
*.egg-info

# IDE
.idea
.vscode
.spyderproject
.spyproject
*.code-workspace

# Scons
.sconsign.dblite

# Environments
env
.env
venv
.venv
node_modules
.tox

# Excel
~*

# cache
.parcel-cache

# build dirs
temp
temp
build
dist
